footer
  section
    ul
      li
        strong Kontakta oss
      li
        a(href="mailto: kontakt@klasskassan-uf.se") kontakt@klasskassan-uf.se
    ul
      li
        strong Social media
      li
        a(href="https://www.instagram.com/p/C0lqKyQN2VV") @klasskassanuf_2023
    ul
      li
        strong Ungföretagsamhet
      li
        a(href="https://ungforetagsamhet.se/company/klasskassan-uf") Klasskassan UF
  section
    a(href="#")
      img(src="/src/assets/instagram.ico", alt="Instagram")
    a(href="#")
      img(src="/src/assets/tiktok.ico", alt="TikTok")
  section
    p ©Klasskassan UF 2023
