footer
	section
		h2 Webbshoppen
		img(src="../src/assets/logga.png", alt="Logotyp")
	section
		section
			h3 Kolumn
			ul
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
		section
			h3 Kolumn
			ul
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
				li
					a(href="#") Länk 1
	section
		img(src="../src/assets/logga.png", alt="Länk")
		img(src="../src/assets/logga.png", alt="Länk")
		img(src="../src/assets/logga.png", alt="Länk")
	section
		p © 2024 Webbshop. All rights reserved.
		p Privacy Policy
		p Terms of Service
