doctype html
html(lang="sv")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="icon", href="../src/assets/logga.png")
        link(rel="stylesheet", type="text/css", href=`/css/${pageStyles}.css`)        
        link(href="../css/nav-style.css", rel="stylesheet")
        link(href="../css/footer-style.css", rel="stylesheet")
        script(src="../scripts/navbar.js", defer)
        script(src="../scripts/numberSelect.js",)


    body 
        div.wrapper
            unless noStandard === true
                include _header
            
            block content

            unless noStandard === true
                include _footer

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
        script(type='module' src='/scripts/alerts.js')
        script(type='module' src='/scripts/login.js')
        script(type='module' src='/scripts/signup.js')
        script(type='module' src='/scripts/logout.js')
        script(type='module' src='/scripts/resetPassword.js')
        script(type='module' src='/scripts/forgotPassword.js')
        script(type='module' src='/scripts/script.js')       
