extends base

block content
  section.pic-Wrapper
    .pic-center
      p
        | Klasskassan är sidan för dig som vill tjäna pengar till bland annat resor
        | eller aktiviteter.
      p
        | Vår hemsida är perfect för klasser eller föreningar som vill sammla ihop
        | pengar till att åka på en resa eller göra något annt roligt.
        br
        br
        a(href="/valkommen")
          button#pic-center-button Börja sälja
  main
    section
      h2 Vi säljer närproducerade produkter
      p
        | En av de största fördelarna med närproducerade varor är deras positiva
        | inverkan på miljön. Genom att minska avståndet som produkterna måste
        | transporteras minskar man även utsläppen av växthusgaser som är förknippade
        | med långa transporter. Kortare transportsträckor leder även till mindre
        | behov av förpackningsmaterial och minskar därmed mängden avfall.
      img(src="../src/assets/K-8.png", alt="Logga")
    section
      h2 Hållbara produkter
      p
        | Alla produkter i Klasskassans katalog är handplockade för att säkerställa
        | deras positiva inverkan på vår miljö utifrån ett globalt, men också lokalt
        | perspektiv. Genom att handplocka produkter som inte bara är av hög kvalitet
        | utan också ansvarsfullt framställda, strävar vi efter ett mer hållbart
        | samhälle. Genom att använda Klasskassan kan du inte bara tjäna pengar, utan
        | också bli en del av en större rörelse mot en mer hållbar framtid.
      img(src="../src/assets/k-6.png", alt="Snusig logga")
    section
      h2 Gör såhär
      ol
        li
          h3 Anmälan
          br
          | Om ni vill börja sälja med Klasskassan ska ni börja med att anmäla er.
          | Det gör ni genom att trycka på &quot;Anmäl er&quot; längst upp på sidan och följa
          | instruktionerna där.
        li
          h3 Sälja!
          br
          | När ni anmält er kommer ni att få kataloger med våra produkter som ni
          | kan gå runt med och sälja till nära och kära. När ni säljer så skriver
          | upp alla som köpt och vad de köpt i en lista i katalogen.
        li
          h3 Beställ och leverera
          br
          | Efter att ni har sålt klart skickar ni in vilka produkter ni behöver via
          | hemsidan. Därefter kommer produkterna levereras till er och ni kommer få
          | leverera produkterna till de som köpt av er. Då kommer ni även få ta
          | betalt av de ni sålt till och därefter kommer ni få en del av
          | vinstpengarna.
    section
      h2 Sortiment
      section
        a(href="#")
          article
            img(src="../src/assets/cheese.jpg", alt="Ost")
            p Ost
            p -
            p
              | Lokalproducerade oster av många olika sorter.
        a(href="#")
          article
            img(src="../src/assets/jam.jpg", alt="Sylt")
            p Sylt
            p -
            p
              | En mägnd olika hemmagjorda sylter.   
        a(href="#")
          article
            img(src="../src/assets/sausage.jpg", alt="korv")
            p Korv
            p -
            p
              | Lokalproducerade korvar från lokala företag baserade i Kronoberg.

        a(href="#")
          article
            img(src="../src/assets/juice.jpg", alt="En bild på en flaska med saft")
            p Saft
            p -
            p
              | Lokalproducerade safter från lokala företag baserade i Kronoberg.
    section
      h2 Vad vi står för
      section
        section
          img(src="../src/assets/nature.jpg", alt="En bild på ett fält")
          p Hållbarhet
          p
            | Alla produkter i vårt sortiment är handplockade för att garantera
            | deras positiva inverkan på vår miljö. Klasskassan UF är ett perfekt
            | alternativ för klasser som vill tjäna pengar till sin klasskassa samtidigt 
            | som de värnar för vår miljö.
        section
          img(src="../src/assets/quality.jpg", alt="En bild på en bricka med mat")
          p Kvalitet
          p
            | Alla produkter i Klasskassan UFs sortiment är också av mycket god 
            | kvalité. Det är mycket viktigt för oss på Klasskassan UF att produkterna
            | vi säljer inte bara är hållbara, utan också godare än konkurrenternas. 
        section
          img(src="../src/assets/money.jpg", alt="En bild på en burk fylld med mynt")
          p Smidighet och gynnsamhet
          p
            | Vi på Klasskassan UF står också för en smidig och gynnsam tjänst där 
            | klasser kan tjäna mycket pengar till sin klass på en smidigt sätt.
      p
        | Vi på Klasskassan UF håller starkt för dessa 3 punkter. Vi hoppas innerligt 
        | att ni väljer vår tjänst och följaktligen bidrar till en bättre miljö!

