extends base

block content
  main
    .form
      form(action="index.html", method="post")
        h2 Logga in
        label(for="email") E-post:
        input#email(type="email", name="email", placeholder="Ange din e-postadress", required)
        label(for="password") Lösenord:
        input#password(type="password", name="password", placeholder="Ange lösenord", required)
        br
        br
        section
          input#checkbox(type="checkbox", name="checkbox", value="kom ihåg mig")
          label(for="checkbox") Kom ihåg mig
          a(href="forgot-password.html") Glömt lösernord?
        br
        button(type="submit") Logga in
      
        button 
          a(href="registrera") Skapa konto
