extends base

block content
  main
    .form
      form#log-in-form(action="#", method="post")
        // Här är mitt formulär, här har jag en action vilket är vart man hamnar efter man tryckt på submit, använder metod post vilket skickar informationen genom bodyn separat medans get (den andra metoden) skickar det genom URL:en
        h2 Logga in
        label(for="email") E-post:
        input#email(type="email", name="email", placeholder="Ange din e-postadress", required)
        label(for="password") Lösenord:
        input#password(type="password", name="password", placeholder="Ange lösenord", required)
        // Typ lösernord, gör texten till svarta prickar istället för att vissa användarens inputs för att ge användaren privicy med sitt lösernord
        br
        br
        section
          input#checkbox(type="checkbox", name="checkbox", value="kom ihåg mig")
          label(for="checkbox") Kom ihåg mig
          a(href="/glomt-losenord") Glömt lösernord?
        br
        button(type="submit") Logga in
        // En knapp för att skicka in användarens inmatning och skicka användaren till action sidan
      a(href="/registrera") Registrera
       
