extends base

block content
  main
    form#log-in-form(action="#" method="post")
      h2 Logga in
      input#email(type="text", placeholder="Skriv in din mail", required)
      input#password(type="password", placeholder="Skriv in ditt lösenord", required)
      input(type="submit", value="Logga in")
      section
        input#keepLoggedIn(type="checkbox", name="remember-me")
        label(for="remember-me") Kom ihåg mig
      p
        | Inte medlem? 
        a(href="/registrera-dig") Registrera dig
      p
        a(href="/glomt-losenord") Glömt lösenord?