extends base

block content
    main
        form#sign-up-form(action="#" method="post")
            h2 L채gg till ny produkt
            input(type="text", placeholder="Namn", required)
            textarea(cols="20", rows="7", placeholder="Produkt Beskrivning")
            input(type="text", placeholder="Producent", required)
            input(type="text", placeholder="Pris", required)
            input#myFile(type="file", name="filename")
            input#myFile(type="file", name="filename")
            section
                input(type="checkbox", name="godk채nner", required)
                label(for="godk채nner") Kylvara
            input(type="submit", value="L채gg till")
