extends base

block content  
    main
        form#reset-password-form(action="#", method="post")
            h2 Byt lösenord
            input#password(type="password", name="newPassword", placeholder="Nytt lösenord")
            input#passwordConfirm(type="password", name="confirmPassword", placeholder="Bekräfta lösenord")
            input#token(type="hidden", name="token", value=`${token}`)
            button(type="submit") Byt lösenord
