extends base

block content  
    main
        form#reset-password-form(action="#" method="post")
            a(href="/")
                img(src="../src/assets/arrow.png", alt="Tillbaka")
            h2 Återställ ditt lösenord
            input#password(type="password", placeholder="Skriv in ditt nya lösenord", required)
            input#passwordConfirm(type="password", placeholder="Verifiera ditt nya lösenord", required)
            input#token(type="hidden", name="token", value=`${token}`)
            input(type="submit", value="Återställ lösenord")
