extends base

block content
    main
        section
            h2 V채lkommen!
            p V채lkommen till Klasskassan UF
            p Sidan 채r fortfarande under konstruktion men ta g채rna en titt
            a(href="/") Till Startsidan
