body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#ffffff, #eeeeee, #dadada);
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main h2 {
    font-size: 1.4em;
}

main > section:nth-child(2) {
    background-image: url("../src/assets/forrest-banner.jpg");
    background-position: 90% 0%;
    padding: 40px;
    border-radius: 5px;
}

main > section:nth-child(2) p {
    font-size: 1.4em;
    text-align: center;
    text-shadow: 1px 2px #fff;
}

main > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-child(3) a{
    color: inherit;
}

main > section:nth-child(3) > section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

main > section:nth-child(3) article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 90%;
    box-shadow: 3px 2px 20px #bfbfbf;
    border-radius: 10px;
}

main > section:nth-child(3) article img {
    width: 60%;
    border: 1px solid;
    margin: auto;
    border-radius: 3px;
}

main > section:nth-child(3) article :is(p, h3) {
    margin: 0;
}

main > section:nth-child(3) article h3{
    font-size: 1.7em;
}

main > section:nth-child(3) article p {
    font-size: 1.3em;
}

main > section:nth-child(3) article p:nth-child(2){
    font-size: 1em;
}

main > section:nth-child(3) article p:nth-child(5){
    text-align: right;
    font-size: 1.4em;
}

main > section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

main > section:nth-child(4) article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    box-shadow: 3px 2px 20px #979797;
    border-radius: 7px;
}

main > section:nth-child(4) article img {
    width: 70%;
    border: 1px solid;
    border-radius: 4px;
}

main > section:nth-child(4) article h3 {
    font-size: 1.6em;
    margin: 0;
    width: 100%;
}

main > section:nth-child(4) article p {
    font-size: 1.2em;
    margin: 0;
}

main > section:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

main > section:nth-child(5) article {
    box-shadow: 3px 2px 20px #bfbfbf;
    border-radius: 5px;
}

main > section:nth-child(5) article h3 {
    font-size: 1.8em;
    text-align: center;
}

main > section:nth-child(5) article p {
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}

main > section:nth-child(5) article > section{
    background-image: url("../src/assets/forrest-banner.jpg");
    background-position: 90% 15%;
    height: 70px;
}

@media screen and (min-width: 500px) {
    main > section:nth-child(2) {
        width: 70%;
    }

    main > section:nth-child(3) {
        width: 70%;
    }

    main > section:nth-child(4) article {
        width: 70%;
    }

    main > section:nth-child(5) {
        width: 80%;
    }
}

@media screen and (min-width:800px) {
    main h2 {
        font-size: 1.6em;
    }

    main > section:nth-child(3) {
        width: 90%;
    }
    
    main > section:nth-child(3) section {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    main > section:nth-child(3) article {
        width: 300px;
    }

    main > section:nth-child(4) article {
        flex-direction: row;
        width: 65%;
    }

    main > section:nth-child(4) article img {
        width: 40%;
    }

    main > section:nth-child(4) article section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: right;
    }

    main > section:nth-child(4) article:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    main > section:nth-child(4) article:nth-child(even) section{
        text-align: left;
    }

    main > section:nth-child(5) {
        flex-direction: row;
    }
}

@media screen and (min-width: 1400px) {
    main > section:nth-child(2) {
        padding: 80px;
        padding-bottom: 140px;
    }

    main > section:nth-child(4) {
        width: 90%;
    }

    main > section:nth-child(4) article {
        gap: 50px;
    }

    main > section:nth-child(4) article img {
        width: 300px;
    }
}

@media screen and (min-width: 1800px) {
    main {
        margin-left: 220px;
        margin-right: 220px;
    }

    main > section:nth-child(4) article {
        flex-direction: row;
        width: 75%;
    }
}