main {
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

main > section:nth-child(2) {
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/sopranos-mini-package-ledes-capricola-1547076318.jpg");
    background-position: center;
    padding: 40px;
}

main > section:nth-child(2) p {
    font-size: 1.2em;
    text-align: center;
}

main > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
}

main > section:nth-child(3) article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 90%;
    box-shadow: 3px 2px 20px #bfbfbf;
}

main > section:nth-child(3) article img {
    width: 60%;
    border: 1px solid;
    margin: auto;
}

main > section:nth-child(3) article :is(p, h3) {
    margin: 0;
}

main > section:nth-child(3) article h3{
    font-size: 1.7em;
}

main > section:nth-child(3) article p {
    font-size: 1.3em;
}

main > section:nth-child(3) article p:nth-child(2){
    font-size: 1em;
}

main > section:nth-child(3) article p:nth-child(5){
    text-align: right;
    font-size: 1.4em;
}

main > section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

main > section:nth-child(4) article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    box-shadow: 3px 2px 20px #979797;
}

main > section:nth-child(4) article img {
    width: 70%;
    border: 1px solid;
}

main > section:nth-child(4) article h3 {
    font-size: 1.6em;
    margin: 0;
    width: 100%;
}

main > section:nth-child(4) article p {
    font-size: 1.3em;
    margin: 0;
}

main > section:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

main > section:nth-child(5) article {
    box-shadow: 3px 2px 20px #bfbfbf;
}

main > section:nth-child(5) article h3 {
    font-size: 1.8em;
    text-align: center;
}

main > section:nth-child(5) article p {
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}

main > section:nth-child(5) article > section{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/sopranos-mini-package-ledes-capricola-1547076318.jpg");
    background-position: right;
    height: 60px;
}