header nav > {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav > ul:first-child {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

header nav > ul:first-child li a img {
    width: 50px;
    border: 1px solid black;
}

header nav > ul:first-child li.search {
    display: none;
}

header nav > ul:first-child li > p {
    display: none;
}

header nav > ul:first-child li:nth-child(4) {
    display: none;
    padding: 15px;
}

header nav > ul:first-child li:nth-child(4) a {
    text-decoration: none;
    color: #000;
    font-size: 1.4em;
}

.dropdownLoggaIn {
	margin-left: -10px;
    z-index: 1;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	/* Start with no height (collapsed) */
	transform-origin: top;
	position: absolute;
	/* Match the navbar background color */
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 140px;
    margin-top: 200px;
	transition: transform 0.3s ease, visibility 0s linear 0.3s, opacity 0.3s ease;
	/* Add a transition for a smooth sliding-down effect */
	backdrop-filter: blur(13px);
	/* Add backdrop filter for the blurred effect */
}

.dropdownLoggaIn li {
	width: fit-content;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	list-style-type: none;
}

.dropdownLoggaIn li a {
	width: 90px;
	padding: 10px;
	display: block;
}

.dropdownLoggaIn li a:hover,
.dropdownLoggaIn button:hover {
	background-color: #61876e;
	border-radius: 7px;
}

.loggedIn:hover .dropdownLoggaIn,
.dropdownLoggaIn:hover {
	visibility: visible;
	opacity: 0.9;
	/* Adjust the opacity as needed */
	transform: scaleY(1);
	/* Expand to full height on hover */
	transition-delay: 0s;
	/* Remove the delay on hover */
}

.dropdownLoggaIn button {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 20px;
	border: none;
}


header nav > ul:last-child {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    margin: 0;
    padding-top: 10px;
    background-color: #f3f3f3;
    list-style-type: none;
    width: 80%;
    padding-inline-start: 0;
    transition: 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav > ul:last-child li {
    text-decoration: none;
    width: 90%;
    height: 70px;
    border: 1px solid black;
    margin: 7px;
}

header nav > ul:last-child li:first-child img{
    width: 50px;
}

header nav > ul:last-child li:first-child a {
    padding: 0;
    height: fit-content;
}

header nav > ul:last-child li:first-child {
    border: none;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

header nav > ul:last-child li:nth-child(2) {
    height: fit-content;
}

header nav > ul:last-child li:nth-child(2) form {
    width: 100%;
    height: 40px;
}

header nav > ul:last-child li:nth-child(2) form input[type="text"] {
    width: 97%;
    height: 100%;
    padding: 0;
    padding-inline-start: 2%;
    border-width: 0;
    font-size: 1.15em;
}

header nav > ul:last-child li a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
    height: 35px;
    padding: 20px;
}

@media screen and (min-width: 900px) {
    header nav > ul:first-child {
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }
    
    header nav > ul:first-child li a img {
        width: 50px;
        border: 1px solid black;
    }

    header nav > ul:first-child li.search {
        display: block;
    }

    header nav > ul:first-child li:nth-child(3) {
        display: flex;
        flex-direction: row;
        width: 150px;
        gap: 10px;
        align-items: center;
    }

    header nav > ul:first-child li:nth-child(3) p {
        margin: 0;
        font-size: 1.1em;
    }

    header nav > ul:first-child li > p {
        display: block;
    }

    header nav > ul:first-child li:nth-child(4) {
        display: block;
    }

    #show-navigation {
        display: none;
    }

    header nav > ul:last-child {
        display: flex;
        position: relative;
        right: 0;
        flex-direction: row;
        width: 100%;
        height: 100px;
        background-color: #fff;
        justify-content: center;
    }

    header nav > ul:last-child li {
        width: 230px;
    }

    header nav > ul:last-child li a {
        width: fit-content;
        margin: auto;
    }

    header nav > ul:last-child li.search {
        display: none;
    }

    header nav > ul:last-child li:first-child {
        display: none;
    }

    header nav > ul:last-child li:first-child {
        height: fit-content;
    }
    
    header nav > ul:last-child li:first-child form {
        width: 100%;
        height: 40px;
    }
    
    header nav > ul:first-child li:nth-child(2) form input[type="text"] {
        width: 250px;
        height: 40px;
        padding: 0;
        padding-inline-start: 2%;
        border-width: 0;
        font-size: 1.15em;
        border-radius: 1px;
        border-color: #000;
        border-width: 1px;
        border-style: solid;
    }
    
    header nav > ul:last-child li a{
        display: block;
        text-decoration: none;
        color: #000;
        font-size: 1.3em;
        height: 35px;
        padding: 20px;
    }
}