.wrapper {
    gap: 40px;
}

main {
    width: 90%;
}

main form input,
main form button {
    outline: none;
    border-radius: 6px;
}

main form input:invalid {
    border-bottom-color: rgb(228, 0, 0);
    border-bottom-width: 2px;
}

main form input:valid {
    border-bottom-color: rgb(0, 100, 0);
    border-bottom-width: 2px;
}

@media screen and (min-width: 900px) {
    main {
        width: auto;
    }
}