main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.mobile-filter{
    font-size: 35px;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.mobile-product{
    text-align: center;
    font-size: 60px;
}
.product-list > h2{
    display: none;
}
.top{
    display: flex;
    flex-direction: row;
}
.sort{
    margin-left: auto;
    margin-right: 10px;
    font-size: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sort > select{
    font-size: 5vw;
}
.sort2{
    display:none;
}
.content{
    margin-bottom: 100px;
}
.product-featured{
    display: none;
}
.product-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 1%;
}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 2px 20px #bfbfbf;
}
.product-card button, .product-featured button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.sidebar{
    display:none;
}

@media screen and (min-width: 600px){
    main{
        display: flex;
    }
    .mobile-product{
        display: none;
    }
    .sidebar {
        display:list-item;
        width: 100px;
        padding-left: 7px;
        padding-right: 7px;
        border-right: 1px solid #ccc;
    }
    .content {
        flex: 1;
        padding: 20px;
    }
    .filter-section h3 {
        margin-bottom: 0;
    }
    
    input[type=range]{
        width: 100%;
    }
    
    .mobile-filter{
        display: none;
    }

    .product-featured {
        margin-bottom: 40px;
        box-shadow: 3px 2px 20px #bfbfbf;
        border-radius: 10px;
    }
    .product-listing{
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .product-featured img, .product-card img {
        height: auto;
        background-color: #ddd;
        width: 70%;
    }
    .product-featured {
        display: flex;
        gap: 20px;
    }
    .product-featured .info {
        width: 30%;
        margin-left: 6px;
        margin-bottom: 6px;
        border-radius: 10px;
    }
    .product-listing {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 49%));
        gap: 2%;
    }
    .product-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 3px 2px 20px #bfbfbf;
        padding: 10px;
        text-align: center;
    }
    .product-card button, .product-featured button {
        margin-top: 10px;
        padding: 10px;
        background-color: #ddd;
        border: none;
        cursor: pointer;
        border-radius: 10px;    
    }
    .sort{
        display: none;
    }
    .sort2 {
        display:block;
        text-align: right;
        border-radius: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }    
}