body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 1.7em;
    padding: 10px;
    margin: 0;
}


main > section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main > section:nth-child(2) article {
    width: 85%;
    padding: 10px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #000;
}

main > section:nth-child(2) article > section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

main > section:nth-child(2) article > section:nth-child(1) img,
table tr th img {
    width: 40%;
    border: solid 1px #000;
}

main > section:nth-child(2) article > section:nth-child(1) h3,
table tr th h3 {
    font-size: 1.4em;
}

main > section:nth-child(2) article > section:nth-child(1) p,
table tr th p {
    font-size: 1.2em;
}

main > section:nth-child(2) form,
table form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

main > section:nth-child(2) article > p,
table tr td:last-child {
    font-size: 1.3em;
    margin: 0;
}

main article form fieldset,
table form fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-style: none;
    padding: 0;
}

main article form fieldset button,
table form fieldset button {
    width: 40px;
    padding: 8px;
}

main article form fieldset p,
table form fieldset p {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 8px;
    width: 30px;
    text-align: center;
}

main form:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main form:nth-child(3) fieldset {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "input1 label1"
        "line line"
        "input2 label2";
    justify-content: center;
    align-items: center;
    border-style: none;
}

main form:nth-child(3) fieldset legend {
    text-align: center;
    font-size: 1.5em;
}

main form:nth-child(3) input[type="radio"] {
    width: 50px;
    height: 18px;
    padding: 100px;
}

main form:nth-child(3) label {
    text-align: center;
    width: 200px;
    font-size: 1.2em;
}

main form:nth-child(3) label img {
    width: 100%;
    height: 40px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    grid-area: line;
    margin: 10px;
}

main form:nth-child(3) input:nth-child(2) {
    grid-area: input1;
}

main form:nth-child(3) input:nth-child(5) {
    grid-area: input2;
}

main form:nth-child(3) label:nth-child(3) {
    grid-area: label1;
}

main form:nth-child(3) label:nth-child(6) {
    grid-area: label2;
}

main section:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 10px;
}

main section:nth-child(4) h3 {
    text-align: center;
    font-size: 1.6em;
}

main section:nth-child(4) section {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
}

main section:nth-child(4) section p {
    font-size: 1.4em;
    margin: 0;
}

main section:nth-child(4) button, main form:last-child button {
    width: 50%;
    height: 40px;
    border-style: none;
    border-radius: 5px;
}

main form:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main form:last-child section {
    width: 90%;
}

main form:last-child input {
    width: 100%;
    height: 40px;
    font-size: 1.1em;
}

main form:last-child p {
    font-size: 1.5em;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

table {
    display: none;
}

table th[scope="col"] {
    font-size: 1.2em;
}

table th[scope="col"]:first-of-type {
    text-align: left;
}

table th[scope="row"] {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

table td {
    width: 120px;
}

@media screen and (min-width: 630px) {
    main > section:nth-child(2) article > section:nth-child(1) {
        justify-content: flex-start;
        gap: 40px;
    }

    main form:nth-child(3) {
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
    }

    main form:last-child section {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    main {
        width: 900px;
        padding: 40px;
        gap: 60px;
    }

    main section:nth-child(2) article {
        display: none;
    }

    table {
        display: block;
    }

    main form:last-child section{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        width: 90%;
    }

    main form:last-child section input {
        width: 90%;
    }
}